.home-container {
  min-height: 100vh;
  background: rgba(0, 0,0, 0.5);
}

.overlay-text {
    padding: 200px 60px;
    color: white;
}

.overlay-text h1{
  font-size: 45px;
}

.overlay-text P{
  font-size: 22px;
}

.overlay-text button{
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: 1.5px solid rgb(253, 186, 2);;
  border-radius: 5px;
  transition: 0.2s ease-in;
  ;
}

.overlay-text button:hover{
  color:rgb(90, 60, 4) ;
  background-color: rgb(253, 186, 2);
  box-shadow: 5px 5px 10px rgb(90, 60, 4);
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

@media screen and (max-width: 600px) {

  #background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
}
