.home-container {
  min-height: 95vh;
  background: rgba(0, 0,0, 0.5);
}

.overlay-text {
    
    padding: 250px 60px;
    color: white;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

@media screen and (max-width: 600px) {
  .overlay-text {
   
  }

  #background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
}
